
.sideBar-motion{
    background:#FAFBFC;
    color:#223E7F;
    height:100%;
}

.sideBar-main{
    display:flex;
    position:fixed;
    width:100%;
    height:100%;
    background-color: #F1F4F6;
}

.routes {
    margin-top: 30%;
    display: flex; 
    flex-direction: column; 
    gap: 5px;
    text-decoration: none;
}

.maxbyte-logo {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 5px;
}
.sidebar-links{
    display:flex;
    padding: 15px 30px;
    color:#223E7F;
    gap:10px;
    align-items: center;
    text-decoration: none;
}


.sidebar-links:hover{
    background-color:#223E7F;
    color:#FAFBFC;
    
}

.sideBar-icons{
    padding:0px 0px 0px 22px;  
}

.sideBar.name{
    text-decoration: none;
}

.sideBar-child{
    width:100%;
}